# Ambientes Virtuais
.venv/
venv/
env/

# Caches e arquivos compilados do Python
__pycache__/
*.pyc

# Pastas de IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store

# Arquivos gerados
matriz_confusao.png